<ion-view title="Cystic Fibrosis Guide - Details" id="page8">
  <ion-content padding="true" style="background: url(img/L9dqmMpXR6i6UN3YCVjV_Guide-back.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="cysticFibrosisGuideDetails-heading1" ng-repeat="guide in guides" style="color:#000000;">{{guide.heading}}</h1>
    <div id="cysticFibrosisGuideDetails-markdown8" ng-repeat="guide in guides" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{guide.details}}</p>
    </div>
  </ion-content>
</ion-view>