<ion-view title="Menu" id="page3">
  <ion-content padding="false" style="background: url(img/wE998LRNQSCm08YMLCOJ_Menu.jpg) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
    <a ui-sref="cysticFibrosisGuide" id="menu-button5" style="border-radius:43px 43px 43px 43px;" class="button button-positive  button-clear menu-button-1"></a>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <a ui-sref="medicineSchedule" id="menu-button9" style="border-radius:43px 43px 43px 43px;" class="button button-positive  button-clear menu-button-2"></a>
    <div class="spacer" style="width: 300px; height: 0px;"></div>
    <a ui-sref="doctorAppointments" id="menu-button10" style="border-radius:43px 43px 43px 43px;" class="button button-positive  button-clear menu-button-3"></a>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <a ui-sref="healthTracker" id="menu-button11" style="border-radius:43px 43px 43px 43px;" class="button button-positive  button-clear menu-button-4"></a>
  </ion-content>
</ion-view>